<div class="about-wrapper">
    <div class="about-container">
        <div class="about-img-container">
            <img src="/img/cartoon.jpg" alt="people welcoming you">
        </div>
        <div class="about-content-container">
            <div class="about-content-inner-container">
                <div class="about-content">
                    <h1>About Resource Recommender</h1>
                    <p>Welcome to Resource Recommender, your one-stop solution for finding the best learning resources without the hassle of endless searching. Our mission is to simplify the process of discovering high-quality educational content, saving you time and effort.
                    </p>
                    <h1>What We do</h1>
                    <p>At Resource Recommender, we understand the challenges of navigating through countless websites to find reliable learning materials. That's why we've created an intelligent platform that curates and recommends the best resources based on your learning needs. Whether you're a student, professional, or lifelong learner, our app is designed to help you find the right materials quickly and efficiently.
                    </p>
                    <h1>Why Choose Us?</h1>
                    <ul>
                        <li><b>Curated Content:</b> Our team of experts and advanced algorithms work together to bring you only the most relevant and high-quality resources.</li>
                        <li><b>Personalized Recommendations:</b>  We tailor our suggestions to your specific interests and learning goals, ensuring you get the most out of your study time.</li>
                        <li><b>User-Friendly Interface:</b>  Our app is designed with simplicity in mind, making it easy for you to navigate and find what you need.</li>
                        <li><b>Time-Saving:</b> Say goodbye to endless browsing. With Resource Recommender, you can find the best learning materials in just a few clicks.</li>
                    </ul>
                    <!-- <div>
                        <button class="about-btn">GET STARTED</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>