<div class="home-header">
    <div class="home-topic">OUR RECOMMENDATION</div>
    <div class="home-btn-container">
        <a href="/preference"><button class="home-btn" type="submit">SEARCH FOR OTHER MATERIALS</button></a>
    </div>
</div>

<div class="home-topic"> HISTORY </div> 
<div class="grid-container">
    
    <% if(resources.length) { %>
        <% for(let data of resources) { %>
        <a class="res-link" href="<%= data.link %>" target="_blank">
                <div class="card">
            <div class="img-container"><img src=" <%= data.image %> " alt=""></div>
            <div class="card-content">
            <h2><%= data.title %></h2>
            <p><%= data.description %></p>
        </div>
    </div>     
             </a>      
      <% } %>
    <% } else { %>
    <div>{% empty %}</div>
    <% } %> 
</div>
<!-- <div class="home-btn">SEARCH FOR OTHER MATERIALS</div> -->
