<div class="login-wrapper">
    <div class="login-container">
        <form id="registerForm" class="welcome-form" action="/register" method="POST">
            <div class="welcome-content">
                    <h1>REGISTER</h1>
                    <div class="input-container">
                        <label for="register-name">Name</label>
                        <input type="text" name="name" id="register-name"  placeholder="Enter your name" required>
                        <p id="name-error"></p>
                    </div>
                    <div class="input-container">
                        <label for="register-email">Email</label>
                        <input type="email" name="email" id="register-email"  placeholder="Enter your email" required>
                        <p id="email-error"></p>
                    </div>
                    <div class="input-container">
                        <label for="register-password">Password</label>
                        <input type="password" name="password" id="register-password"  placeholder="Enter your password" required>
                        <p id="password-error"></p>
                    </div>
                    <div class="register-btn">
                        <button type="submit">
                            Register
                        </button>
                    </div>
            </div>
        </form>
        <div class="login-img-container">
            <img src="/img/man-books-cartoon-vector.jpg" alt="man sitting on huge pile of books">
        </div>
    </div>
</div>