
<div class="pswd-reset-wrapper">
    <div class="pswd-reset-container">
        <form action="/reset_password" method="POST">
            <h1>PASSWORD RESET</h1>
            <div class="input-container">
                <label for="securityQuestion">Security Question</label>
                <select name="securityQuestion" id="securityQuestion" required>
                    <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
                    <option value="What was the name of your first pet?">What was the name of your first pet?</option>
                    <option value="What was the name of your first school?">What was the name of your first school?</option>
                </select>
            </div>
            <div class="input-container">
                <label for="securityAnswer">Answer</label>
                <input type="text" name="securityAnswer" id="securityAnswer" required>
            </div>
            <div class="input-container">
                <label for="newPassword">New Password</label>
                <input type="password" name="newPassword" id="newPassword" required>
            </div>
            <div>
                <button class="btn pswd-reset-btn" type="submit">Reset Password</button>
            </div>
        </form>    
    </div>
</div>
