
<div class="profile-page">
    <div class="profile-header">
        <div class="profile-img-container">
            <img src="/img/profile-pic.jpg" alt="Profile Picture">
        </div>
        <div class="profile-info">
            <h1><%= user.name %></h1>
            <p><i class="fas fa-envelope"></i> <%= user.email %></p>
            <div class="edit-profile-btn-container">
                <a href="/editProfile" class="edit-profile-btn"><i class="fas fa-edit"></i> Edit Profile</a>
            </div>
        </div>
    </div>
    <div class="user-info">
        <div class="about">
            <h2><i class="fas fa-user"></i> About Me</h2>
            <p><%= user.bio %></p>
        </div>
        <div class="interest">
            <h2><i class="fas fa-heart"></i> Interests</h2>
            <p><%= user.interests %></p>
        </div>
    </div>
    <!-- <div class="user-activity">
        <h2><i class="fas fa-history"></i> Recent Activity</h2>
        <ul>
            <li><i class="fas fa-book"></i> Recently rated resource 1</li>
            <li><i class="fas fa-book"></i> Recently rated resource 2</li>
        </ul>
        <h2><i class="fas fa-thumbs-up"></i> Recommended Resources</h2>
        <ul>
            <li><i class="fas fa-book"></i> Recommended resource 1</li>
            <li><i class="fas fa-book"></i> Recommended resource 2</li>
        </ul>
    </div> -->
    <div class="user-settings">
        <div class="acc-settings">
            <h2><i class="fas fa-cogs"></i> Account Settings</h2>
            <a href="#"><button><i class="fas fa-key"></i> Change Password</button></a>
            <a href="#"><button><i class="fas fa-envelope"></i> Update Email</button></a>
        </div>
        
        <div class="notification">
            <h2><i class="fas fa-bell"></i> Notification Preferences</h2>
            <!-- <button><i class="fas fa-bell"></i> Manage Notifications</button> -->
             <a href="#"><button>Manage Notifications</button></a>
        </div>
        
        <div class="privacy">
            <h2><i class="fas fa-lock"></i> Privacy Settings</h2>
            <!-- <button><i class="fas fa-lock"></i> Manage Privacy</button> -->
             <a href="#"><button>Manage Privacy</button></a>
        </div>
    </div>
    <!-- <div class="saved-resources">
        <h2><i class="fas fa-bookmark"></i> Saved Resources</h2>
        <ul>
            <li><i class="fas fa-book"></i> Saved resource 1</li>
            <li><i class="fas fa-book"></i> Saved resource 2</li>
        </ul>
    </div> -->
    <!-- <footer class="site-footer">
        <p>&copy; 2024 Your App. All rights reserved.</p>
        <a href="/contact"><i class="fas fa-envelope"></i> Contact Us</a>
        <a href="/privacy"><i class="fas fa-shield-alt"></i> Privacy Policy</a>
        <a href="/terms"><i class="fas fa-file-alt"></i> Terms of Service</a>
    </footer> -->
</div>
